@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,h2{
  font-weight: bold!important;
}

a {
  color: inherit;
  text-decoration: none!important
}


.introText h1{
  /* font-size: 4.5em; */
  display: block ;
  margin: 0;
  padding: 0;
  line-height: 1em;
  
}
.introText{
  position: relative;
  
}
.introText::before{
  content: '<h1>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
 
}




.subTitleUIUX{
font-family: 'Fredericka the Great';
display: inline-flex;}

.subTitle::before{
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
 
  left: -1.5rem;
  top: -1.5rem;
}


.subTitle::after{
  content: '</p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  
  left: -1.5rem;
  bottom: -1.5rem;
}

.introTextLast{
  position:relative;
    }
  
.introTextLast::after{
      content: '</h1>';
      font-family: 'La Belle Aurore',cursive;
      color: #515152;
      font-size: 1.2rem;
      position: absolute;
      margin-top: 2rem;
    }

* {
  box-sizing: border-box;
}

.ContainerWrapper{
  position:absolute;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  top: 1.5rem;
  
}

.introText h1{
  /* font-size: 4.5em; */
  display: block ;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.PortfolioTitle h2{
  /* font-size: 4em; */
  display: block ;
  margin: 0;
  padding: 0;
  line-height: 1em;
  
}

.PortfolioTitle{
  position: relative;
}

.PortfolioTitle::before{
  content: '<h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
 
  left: -1.5rem;
  top: -1.5rem;
}

/* a:hover {  
  color: rgb(44, 183, 253);  
} */

.PortfolioTitle::after{
  content: '</h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  
  left: -1.5rem;
  bottom: -1.5rem;
}


.PortfolioItemWrapper{
  min-width:auto;
  position: absolute;
              display:flex;
              top: 35%;
              left: 35%;
                      width: 30%;
                      height:30%;
                      border-radius:100%;
                      background: rgba(0, 0, 0, 0.54);
                      color: white;
                      padding: 10px;
                      justify-content:center;
                      align-items:center;
}

.ViewProject{
  text-align: center;
}


.portfolioGallary{
  position: relative;
}

.portfolioGallary::before{
  content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    left:1rem;
    top: -2.5rem;
}
.portfolioGallary::after{
  content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    left:1rem;
    bottom: -2.5rem;
}

.back-text{
  font-family: font-file-82132;
    position: absolute;
    top: -11rem;
    left: 42vw;
    
    font-size: 32rem;
    /* color: rgba(255,255,255,0.04); */
   
}

.media{
border-radius: 0;
transition: transform 0.3s;

}

.media:hover {
 
    transform: scale(1.5)
  }


.ContainerWrapper::before{
  content: '<body>';
  padding-Left:0.5rem;
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
   
    top: 2.5rem;
}

.ContainerWrapper-base{
  
  position:relative;
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  bottom: 0.5rem;
  
}
.ContainerWrapper-base::before{
  content: '</body>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    padding-Left:0.5rem;
    bottom: 2.5rem;
}

a:hover{
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0c0c0c;
    
  }

.PointerBackground{
  background-color: #1d1d1d;
}
  .MuiDrawer-paper{
      border-right: 1px solid rgba(255, 255, 255, 0.12)
    }

  .MuiDrawer-paper {
    color: white;
    background: #181818;
  }
}

.PortfolioTitle h2{
  /* font-size: 4em; */
  display: block ;
  margin: 0;
  padding: 0;
  line-height: 1em;
  
}

.PortfolioTitle{
  position: relative;
}

.PortfolioTitle::before{
  content: '<h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
 
  left: -1.5rem;
  top: -1.5rem;
}

.PortfolioTitle::after{
  content: '</h2>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  
  left: -1.5rem;
  bottom: -1.5rem;
}

.subTitle{
  position:relative;
  margin-top:2rem ;
  /* display: flex; */
  align-items: center;
}




.subTitleUIUX{
  font-family:'Finger Paint';
  margin-left: 10px;
}

.subTitle::before{
  content: '<p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
 
  left: -1.5rem;
  top: -1.5rem;
}


.subTitle::after{
  content: '</p>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  
  left: -1.5rem;
  bottom: -1.5rem;
}

.formBelow{
  position: relative;
  margin-top: 4rem;
}

.formBelow::before{
  content: '<form>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
 
  left: -1.5rem;
  top: -1.5rem;
}

.formBelow::after{
  content: '</form>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  
  left: -1.5rem;
  bottom: -1.5rem;
}

.top-to-btm{
  position: fixed;
  bottom: 10px;
  right: 10px;
  justify-content: flex-end;
  display: flex;
  z-index: 1000000;
  width: 100%;

  }
  .icon-position{
   
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
   
   
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation:forwards;
   
    color: #f44336;
    border: 2px solid #f44336;
    border-radius: 20px;
  }


  .textAnim, .textAnim:hover::after {
   
animation: fill 0.5s ease forwards 2s;
animation-direction:initial
  }
  .textAnim:hover{
    animation: fill 0.5s ease forwards 2s;
    animation-direction: reverse;
   
      }
  .textAnimLight{
   
        animation: fillLight 0.5s ease forwards 2s;
        animation-direction:initial
          }
  .textAnimLight:hover{
            animation: fillLight 0.5s ease forwards 2s;
            animation-direction: reverse;
           
              }    
     

  .textAnimContainer path:nth-child(1){
stroke-dasharray: 739.7772216796875;
stroke-dashoffset: 739.7772216796875;
animation:line-anim 2s ease forwards;

  }
  

  .textAnimContainer path:nth-child(1):hover{
    stroke-dasharray: 739.7772216796875;
    stroke-dashoffset: 739.7772216796875;
    animation:line-animHov 2s ease forwards;
    animation-direction: reverse;
      }

    

  .textAnimContainer path:nth-child(2){
    stroke-dasharray: 583.96795654296875;
stroke-dashoffset: 583.96795654296875;
animation:line-anim 2s ease forwards 0.3s;
  }

  .textAnimContainer path:nth-child(2):hover{
    stroke-dasharray: 583.96795654296875;
stroke-dashoffset: 583.96795654296875;
animation:line-animHov2 2s ease forwards;
animation-direction: reverse;
  }
  .textAnimContainer path:nth-child(3){
    stroke-dasharray: 550.5634765625;
stroke-dashoffset: 550.5634765625;
animation:line-anim 2s ease forwards 0.6s;
  }
  .textAnimContainer path:nth-child(3):hover{
    stroke-dasharray: 550.5634765625;
stroke-dashoffset: 550.5634765625;
animation:line-animHov3 2s ease forwards;
animation-direction: reverse;
  }
  .textAnimContainer path:nth-child(4){
    stroke-dasharray: 606.560791015625;
stroke-dashoffset: 606.560791015625;
animation:line-anim 2s ease forwards 0.9s;
  }
  .textAnim path:nth-child(4):hover{
    stroke-dasharray: 606.560791015625;
stroke-dashoffset: 606.560791015625;
animation:line-animHov4 2s ease forwards;
animation-direction: reverse;
  }
  
 @keyframes line-anim {
   to{
     stroke-dashoffset: 0;
   }
 }

 @keyframes line-animHov {
   from{
    stroke-dashoffset: 739.7772216796875;
   }
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes line-animHov2 {
  from{
   stroke-dashoffset: 583.96795654296875;
  }
 to{
   stroke-dashoffset: 0;
 }
}
@keyframes line-animHov3 {
  from{
   stroke-dashoffset: 550.5634765625;
  }
 to{
   stroke-dashoffset: 0;
 }
}
@keyframes line-animHov4 {
  from{
   stroke-dashoffset: 606.560791015625;
  }
 to{
   stroke-dashoffset: 0;
 }
}



 @keyframes fill {
   from{
     fill:transparent
   }
   to{
     fill: #fff;
   }
 }

 @keyframes fillLight {
  from{
    fill:transparent
  }
  to{
    fill: #000;
  }
}

 